.registor-content{
    padding:20px 0px 20px 140px;
}
.registor-content-title{
    font-size: large;
}
.registor-content-submit{
    background:#4267b2; text-transform:uppercase; font-size:18px; 
    font-weight:bold; 
    padding:10px 20px; 
    color:#fff; 
    border:none; 
    margin: 5px;
}
