.built-pc-items{
    width: 1170px;
    margin: 0 auto;
}
.built-pc-item-name{
    width: 240px;
}


/*----------------------------------
Form
------------------------------------*/
.built-pc-item-drive-form{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0, 0,0.6);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* display: none; */
}
.built-pc-item-drive-form-content{
    width: 770px;
    height: 660px;
    background-color: #FFFFFF;
}
.built-pc-item-drive-form-content-header{
    background-color: #0f5b9a;
    display: flex;
    height: 54px;
    align-items: center;
    text-align: center;
}
.built-pc-item-drive-form-content-header h4{
    margin: 10px;
   color: #FFFFFF;
   font-weight: 700;
}
.built-pc-item-drive-form-content-header form{
    display: flex;
    width: 450px;
    position: relative;
    margin-left: 10px;
}

.built-pc-item-drive-form-content-header a{
    margin-left: 80px;
    color: #FFFFFF;
    font-size: 30px;
    cursor: pointer;
}
.built-pc-item-drive-form-content-header-input{
    line-height: 36px;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    padding: 0 10px;
    border: none;
    height: 36px;
}
.built-pc-item-drive-form-content-header-submit{
    color: #0f5b9a;
    font-size: 24px;
    padding: 0px 10px;
    border: none;
    background-color: #FFFFFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.built-pc-item-drive-form-content-sort{
    background-color: #f4f4f4;
    width: 770px;
    height: 42px;
    padding: 10px;
    margin-bottom: 15px;
}
.built-pc-item-drive-form-content-sort-block{
    float: left;
    display: flex;
}
.built-pc-item-drive-form-content-sort-block form{
    margin-top: -6px;
    padding-left: 5px;
}
.built-pc-item-drive-form-content-sort-block form select{
    padding: 4px;
}
.built-pc-item-drive-form-content-item-page{
   position: absolute;
   margin-left: 600px;
   margin-top: -55px;
}

.built-pc-item-drive-form-content-item{
    display: grid;
    grid-template-columns: 130px 460px 180px ;
    height: 110px;
}
.built-pc-item-drive-form-content-item-img{
    width: 110px;
    height: 110px;
    margin: auto;
    cursor: pointer;
}
.built-pc-item-drive-form-content-item-info{
    float: left;
    margin: 10px;
}
.built-pc-item-drive-form-content-item-info a{
    color: #000000;
    font-weight: 500;
}
.built-pc-item-drive-form-content-item-info button{
    height: 30px;
}
